@import './light.css';

@import './dark.css';

@import './highlight.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1200px;
  --row-gap-0: 25px;
  --margin: max(25px, 5vw);
}

:not(:defined) {
    visibility: hidden;
}  

.spacing {
  padding: 20px var(--margin);
}

html,
body {
  @apply antialiased font-sans tracking-wide;
  background: var(--color-background);
  color: var(--sl-color-neutral-1000);
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold leading-tight mt-3;
}

h1,
h2,
h3,
h4,
h5,
h6,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a,

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

a {
  color: var(--link-color);
}

a:hover {
  color: currentColor;
  text-decoration: underline;
}

p {
  @apply text-xl my-8 tracking-wide text-justify leading-relaxed; 
}

pre {
  @apply my-2 text-sm tracking-wider break-words;
}


hr {
  @apply mt-4 mb-2 border-dotted border-b ;
  border-color: var(--sl-panel-border-color);
}

img {
  @apply mx-auto rounded-lg;
  max-width: 100%;
}

blockquote {
  @apply my-4 px-4 py-2 border-l-4 rounded-r-lg italic;
  border-color: var(--link-color);
  background: var(--sl-panel-background-color);
}